{
  "openapi": "3.1.0",
  "info": {
    "title": "Window — launch-site conditions API",
    "version": "1.0.0",
    "summary": "Free, read-only JSON: current modeled conditions at every curated US launch field.",
    "description": "The same modeled conditions (gfs_seamless) the board leads with — surface wind and steadiness, density altitude, storm potential (CAPE), the moisture read, pressure, sky, and today's forecast peaks — for all curated launch fields, refreshed hourly. Static JSON — no API key, no rate limits, no cost, CORS-open. Modeled, not observed station data; confirm conditions on the field's full board or a primary source before flying.",
    "license": { "name": "Free to use; attribution appreciated; provided as-is", "url": "https://window.fusionspace.co/api" }
  },
  "servers": [{ "url": "https://window.fusionspace.co/api/v1" }],
  "paths": {
    "/conditions.json": {
      "get": {
        "summary": "All sites — current conditions",
        "operationId": "getConditions",
        "responses": {
          "200": {
            "description": "The conditions feed.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SiteFeed" } } }
          }
        }
      }
    },
    "/conditions.geojson": {
      "get": {
        "summary": "The feed as a GeoJSON FeatureCollection (for mapping tools)",
        "operationId": "getConditionsGeoJson",
        "responses": {
          "200": {
            "description": "A GeoJSON FeatureCollection — one Point feature per field, the site's snapshot in properties.",
            "content": { "application/geo+json": { "schema": { "$ref": "#/components/schemas/GeoFeatureCollection" } } }
          }
        }
      }
    },
    "/sites.json": {
      "get": {
        "summary": "The curated field roster (name, state, slug, coordinates, board link)",
        "operationId": "getSites",
        "responses": {
          "200": {
            "description": "The static site roster — no weather data.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Sites" } } }
          }
        }
      }
    },
    "/sites/{slug}.json": {
      "get": {
        "summary": "One field's current conditions",
        "operationId": "getSite",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" }, "description": "The field's slug (from conditions.json / sites.json), e.g. \"sears-samson\".", "example": "sears-samson" }
        ],
        "responses": {
          "200": {
            "description": "A single field's conditions.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SiteDetail" } } }
          },
          "404": { "description": "No field with that slug." }
        }
      }
    },
    "/meta.json": {
      "get": {
        "summary": "Feed metadata (version, generation time, counts, endpoints)",
        "operationId": "getMeta",
        "responses": {
          "200": {
            "description": "Feed metadata.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Meta" } } }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SiteFeed": {
        "type": "object",
        "required": ["schema_version", "generated_at", "model", "count", "sites"],
        "properties": {
          "schema_version": { "type": "integer", "example": 1 },
          "generated_at": { "type": ["string", "null"], "format": "date-time", "description": "When the feed was generated (null if the last refresh could not reach the provider)." },
          "model": { "type": "string", "example": "gfs_seamless" },
          "count": { "type": "integer", "description": "Number of entries in sites.", "example": 104 },
          "sites": { "type": "array", "items": { "$ref": "#/components/schemas/SiteConditions" } }
        }
      },
      "SiteConditions": {
        "type": "object",
        "required": [
          "name", "state", "slug", "lat", "lon", "url", "wind_mph", "gust_mph", "dir_deg", "steadiness", "temp_f",
          "apparent_temp_f", "humidity_pct", "dewpoint_f", "pressure_hpa", "density_altitude_ft",
          "cape_jkg", "storm", "cloud_cover_pct", "weather_code", "conditions", "is_day",
          "aqi", "aqi_category", "pm2_5", "pm10", "tone", "today"
        ],
        "properties": {
          "name": { "type": "string", "example": "SEARS — Samson" },
          "state": { "type": "string", "description": "USPS two-letter code.", "example": "AL" },
          "slug": { "type": "string", "description": "Stable URL-safe id; also the per-site detail filename.", "example": "sears-samson" },
          "lat": { "type": "number", "example": 31.13 },
          "lon": { "type": "number", "example": -86.07 },
          "url": { "type": "string", "format": "uri", "description": "Deep link to this field's interactive board.", "example": "https://window.fusionspace.co/?lat=31.13&lon=-86.07&label=SEARS+%E2%80%94+Samson" },
          "wind_mph": { "type": "integer", "description": "Sustained surface wind (10 m), mph — rounded.", "example": 7 },
          "gust_mph": { "type": ["integer", "null"], "description": "Gust, mph (rounded) — null when the model omits it.", "example": 11 },
          "dir_deg": { "type": "integer", "description": "Direction the wind blows FROM, degrees — rounded.", "example": 270 },
          "steadiness": { "type": ["string", "null"], "enum": ["steady", "gusty", "very-gusty", null], "description": "How much the gusts overshoot the sustained wind. null when there is no gust reading." },
          "temp_f": { "type": ["integer", "null"], "description": "Temperature, °F — rounded.", "example": 72 },
          "apparent_temp_f": { "type": ["integer", "null"], "description": "\"Feels like\" temperature, °F — rounded.", "example": 74 },
          "humidity_pct": { "type": ["integer", "null"], "description": "Relative humidity, % — rounded.", "example": 55 },
          "dewpoint_f": { "type": ["integer", "null"], "description": "Dew point, °F — rounded. A tight spread with temp_f warns of fog/condensation.", "example": 56 },
          "pressure_hpa": { "type": ["integer", "null"], "description": "Station (surface) pressure, hPa — rounded.", "example": 1013 },
          "density_altitude_ft": { "type": ["integer", "null"], "description": "Density altitude, ft (rounded to 10). Thin air cuts motor thrust and speeds descent. null if inputs are absent.", "example": 1240 },
          "cape_jkg": { "type": ["integer", "null"], "description": "Convective available potential energy, J/kg — rounded.", "example": 120 },
          "storm": { "type": ["string", "null"], "enum": ["none", "marginal", "moderate", "strong", null], "description": "Storm-potential band from CAPE. null when CAPE is absent." },
          "cloud_cover_pct": { "type": ["integer", "null"], "description": "Cloud cover, % — rounded.", "example": 20 },
          "weather_code": { "type": ["integer", "null"], "description": "WMO weather-interpretation code.", "example": 0 },
          "conditions": { "type": ["string", "null"], "description": "Short sky/precip label from weather_code.", "example": "Clear" },
          "is_day": { "type": ["boolean", "null"], "description": "Daylight flag (true = day)." },
          "aqi": { "type": ["integer", "null"], "description": "US EPA Air Quality Index (0–500) — null when the Air-Quality API was unreachable.", "example": 41 },
          "aqi_category": { "type": ["string", "null"], "enum": ["good", "moderate", "usg", "unhealthy", "very-unhealthy", "hazardous", null], "description": "EPA AQI band. Smoke/haze cuts the visibility needed to track a flight." },
          "pm2_5": { "type": ["integer", "null"], "description": "Fine particulate (≈ smoke), µg/m³.", "example": 8 },
          "pm10": { "type": ["integer", "null"], "description": "Coarse particulate (≈ dust), µg/m³.", "example": 10 },
          "tone": { "type": "string", "enum": ["emerald", "amber", "red"], "description": "Against the 20 mph line: emerald < 15, amber 15–20, red ≥ 20 mph." },
          "today": { "oneOf": [{ "$ref": "#/components/schemas/SiteToday" }, { "type": "null" }], "description": "Today's forecast peaks; null when the daily block is absent." }
        }
      },
      "SiteToday": {
        "type": "object",
        "required": ["max_wind_mph", "max_gust_mph", "dominant_dir_deg", "high_f", "low_f", "precip_in", "precip_chance_pct", "sunrise", "sunset"],
        "properties": {
          "max_wind_mph": { "type": ["integer", "null"], "description": "Day's peak sustained wind, mph.", "example": 18 },
          "max_gust_mph": { "type": ["integer", "null"], "description": "Day's peak gust, mph.", "example": 26 },
          "dominant_dir_deg": { "type": ["integer", "null"], "description": "Dominant wind direction for the day, degrees.", "example": 225 },
          "high_f": { "type": ["integer", "null"], "description": "Day's high temperature, °F.", "example": 88 },
          "low_f": { "type": ["integer", "null"], "description": "Day's low temperature, °F.", "example": 64 },
          "precip_in": { "type": ["number", "null"], "description": "Total precipitation for the day, inches.", "example": 0.12 },
          "precip_chance_pct": { "type": ["integer", "null"], "description": "Day's peak precipitation probability, %.", "example": 30 },
          "sunrise": { "type": ["string", "null"], "description": "Local-time ISO sunrise.", "example": "2026-07-03T05:44" },
          "sunset": { "type": ["string", "null"], "description": "Local-time ISO sunset.", "example": "2026-07-03T19:52" }
        }
      },
      "SiteDetail": {
        "type": "object",
        "required": ["schema_version", "generated_at", "model", "site"],
        "properties": {
          "schema_version": { "type": "integer", "example": 1 },
          "generated_at": { "type": ["string", "null"], "format": "date-time" },
          "model": { "type": "string", "example": "gfs_seamless" },
          "site": { "$ref": "#/components/schemas/SiteConditions" }
        }
      },
      "GeoFeatureCollection": {
        "type": "object",
        "required": ["type", "generated_at", "features"],
        "properties": {
          "type": { "type": "string", "enum": ["FeatureCollection"] },
          "generated_at": { "type": ["string", "null"], "format": "date-time" },
          "features": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["type", "geometry", "properties"],
              "properties": {
                "type": { "type": "string", "enum": ["Feature"] },
                "geometry": {
                  "type": "object",
                  "required": ["type", "coordinates"],
                  "properties": {
                    "type": { "type": "string", "enum": ["Point"] },
                    "coordinates": { "type": "array", "items": { "type": "number" }, "minItems": 2, "maxItems": 2, "description": "[lon, lat] per the GeoJSON spec.", "example": [-86.07, 31.13] }
                  }
                },
                "properties": { "$ref": "#/components/schemas/SiteConditions" }
              }
            }
          }
        }
      },
      "Sites": {
        "type": "object",
        "required": ["schema_version", "generated_at", "count", "sites"],
        "properties": {
          "schema_version": { "type": "integer", "example": 1 },
          "generated_at": { "type": "string", "format": "date-time" },
          "count": { "type": "integer", "example": 104 },
          "sites": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["name", "state", "slug", "lat", "lon", "url"],
              "properties": {
                "name": { "type": "string", "example": "SEARS — Samson" },
                "state": { "type": "string", "example": "AL" },
                "slug": { "type": "string", "example": "sears-samson" },
                "lat": { "type": "number", "example": 31.13 },
                "lon": { "type": "number", "example": -86.07 },
                "url": { "type": "string", "format": "uri", "example": "https://window.fusionspace.co/?lat=31.13&lon=-86.07&label=SEARS+%E2%80%94+Samson" }
              }
            }
          }
        }
      },
      "Meta": {
        "type": "object",
        "required": ["schema_version", "generated_at", "model", "counts", "endpoints", "docs", "license", "notes", "reference"],
        "properties": {
          "schema_version": { "type": "integer", "example": 1 },
          "generated_at": { "type": ["string", "null"], "format": "date-time" },
          "model": { "type": "string", "example": "gfs_seamless" },
          "counts": {
            "type": "object",
            "required": ["sites", "states"],
            "properties": {
              "sites": { "type": "integer", "example": 104 },
              "states": { "type": "integer", "example": 48 }
            }
          },
          "endpoints": { "type": "array", "items": { "type": "string" }, "example": ["/api/v1/conditions.json", "/api/v1/conditions.geojson", "/api/v1/sites.json", "/api/v1/sites/{slug}.json", "/api/v1/meta.json", "/api/v1/openapi.json"] },
          "docs": { "type": "string", "format": "uri", "example": "https://window.fusionspace.co/api" },
          "license": { "type": "string", "example": "Free to use; attribution appreciated; provided as-is" },
          "notes": { "type": "string" },
          "reference": {
            "type": "object",
            "description": "Machine-readable thresholds behind the derived fields.",
            "properties": {
              "surface_wind_limit_mph": { "type": "integer", "example": 20 },
              "wind_tone_mph": { "type": "object", "properties": { "emerald": { "type": "string" }, "amber": { "type": "string" }, "red": { "type": "string" } } },
              "storm_cape_jkg": { "type": "object", "properties": { "none": { "type": "string" }, "marginal": { "type": "string" }, "moderate": { "type": "string" }, "strong": { "type": "string" } } }
            }
          }
        }
      }
    }
  }
}
